body {
        padding: 12px;
      }  
table {
        border-spacing: 0;
        border-collapse: collapse;
      }
table td, table th {
        border: 1px solid #ccc;
        padding: 5px;
      }   
table th {
        background: #eee;
      }
.user {
      font-size: 1.3em;
      margin: inherit;
      line-height: 1.4;
	  color : green;
    }
 h1 {
     margin: 0;
    }
 h2 {
     margin: 0 0 0 1em;
	 color : red;
    }
 p {
    font-size: 1.1em;
    }